<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>Static HTML Chat sample</title>
  
  <style>

    body, h1 {
      margin: 12px !important;
    }

    .xcontainer {     
      width: 350px;
      height: 650px;
      border: 1px solid lightblue;
      margin: 12px;
      margin-top: 28px;
    }

    #c1 {
      height: 650px;
    }

    .hidden {
      display: none;
    }

  </style>


</head>

<body>

  <!-- 1. add the following line in <body> -->
  <script src="http://localhost/components/at-app/at-app-context.js" id="at-app-context" async include-element token="u:xUHOJ7L3HGR0nBB4BdlbzPCYpJmzo5ww"></script>


  <h1>Chat</h1>

  <div class="xcontainer">

    <!-- 2. include a card -->
    <include-element id="c1" name="at-carbon-chat/at-carbon-chat.html"></include-element>

  </div>

  <div id="buttons" class="row hidden">
    <button class="block-cell" type="button" id="chatInputButton">chat-input</button>
    <button class="block-cell" type="button" id="chatCommandButton">chat-command</button>
  </div>

  <script>
    document.addEventListener('session-ready', function () {

      var buttons = document.getElementById('buttons');
      var chatInputButton = document.getElementById('chatInputButton');
      var chatCommandButton = document.getElementById('chatCommandButton');

      buttons.classList.remove('hidden');

      chatInputButton.addEventListener('click', function () {

        Polymer.signal('chat-input', {
          text: "show me the"
        });

      });

      chatCommandButton.addEventListener('click', function () {

        Polymer.signal('chat-command', {
          text: "Hello World!"
        });
      });

    });
  </script>

</body>

</html>
